.products-info{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.product-name{
    color:blue;
    font-weight: 400;
}

.product-details{
    margin-left: 30px;
    margin-bottom: 20px;
}

.product-button{
    background-color: #f0c14b;
    border-color: #a88734;
    border-radius: 5px;
    font-size: 15px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}